/* SASSS VARIABLES */

// RESPONSIVE BREAKPONTS

$bp-tablet: 50em; // 800px/16px(font-root)
$bp-mobile: 31.25em; // 500px

$bp-smobile: 23.125em;

/* CSS VARIABLES */

:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);

  --basic-padding: 4rem;

  @media only screen and (max-width: $bp-smobile) {
    --basic-padding: 2.5rem;
  }
}

/* MIXIN */

@mixin basicard {
  padding: var(--basic-padding);
  border-radius: 8px;
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
}

/* BASIC RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px/16px (font-root) = 62.5%
  box-sizing: border-box;
}

.container {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 3rem;
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(../img/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-tablet) {
    background-image: url(../img/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
  }
}

/* LEFT CARD */

.header {
  @include basicard;
  width: 36rem;
  height: 20rem;
  border-top-right-radius: 10rem;
  justify-content: space-between;
  margin-right: 4rem;

  @media only screen and (max-width: $bp-tablet) {
    margin-right: 0rem;
    width: 100%;
  }

  /* ICONS BOX */

  &__icon {
    width: 2.5rem;
    height: 3rem;
    box-sizing: content-box;
    padding: 1rem;
    background-color: var(--Very-Dark-Blue);
    border-radius: 8px;
    margin-right: 1.5rem;
  }
}

/* RIGHT CARD */

.card {
  @include basicard;
  width: 55rem;
  height: 16rem;
  justify-content: space-between;
  margin-top: 4rem;
  position: relative;

  @media only screen and (max-width: $bp-tablet) {
    width: 100%;
    margin-top: 2rem;
  }

  &__text {
    color: var(--Pale-Blue);
  }

  /* BAR */

  &__bar {
    width: 100%;
    height: 2rem;
    background-color: var(--Very-Dark-Blue);
    border-radius: 24px;
    border: 3px solid var(--Very-Dark-Blue);
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
  }

  &__progress {
    position: absolute;
    width: 75%;
    height: 2rem;
    background: linear-gradient(to right, #ffa399, #ff4d97);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__pointer {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3px;
    border-radius: 50%;
    right: 0;
    background-color: var(--Pale-Blue);
  }

  /* SPACE DETAILS */

  &__details {
    display: flex;
    justify-content: space-between;
  }

  /* SPACE WARNING CARD */

  &__warning {
    position: absolute;
    top: -50px;
    right: 33px;
    width: 18.5rem;
    height: 7.5rem;
    padding: 1.5rem 2.5rem;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border-bottom-right-radius: 0;

    @media only screen and (max-width: $bp-tablet) {
      top: 135px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-mobile) {
      width: 45%;
    }

    &:after {
      content: " ";
      position: absolute;
      right: 0;
      bottom: -24px;
      border-top: 25px solid #fff;
      border-left: 25px solid transparent;
      border-bottom: none;

      @media only screen and (max-width: $bp-tablet) {
        display: none;
      }
    }

    &:before {
      content: " ";
      position: absolute;
      right: -2px;
      bottom: -24px;
      border-top: 26px solid #000;
      border-left: 2px solid transparent;
      z-index: 1;

      @media only screen and (max-width: $bp-tablet) {
        display: none;
      }
    }
  }

  &__number {
    font-size: 4rem;
    margin-right: 1rem;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 2.5rem;
    }
  }

  &__paragraph {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Grayish-Blue);

    @media only screen and (max-width: $bp-mobile) {
      font-size: 1rem;
    }
  }
}

/* UTILITY */

.bold {
  font-weight: 700;
}
